[submodule "external/mge"]
	path = external/mge
	url = https://github.com/kubo11/mGE
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/nativefiledialog-extended"]
	path = external/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
	branch = tags/v1.2.1
